[Unit]
Description=AX.25 KISS interface
After=network.target
BindsTo=dev-mytnc.device
[Service]
EnvironmentFile=/etc/default/ax25
Type=forking
ExecStart=/usr/share/pat/bin/axup ${DEV} ${AXPORT} ${HBAUD}

[Install]
#WantedBy=default.target
WantedBy=dev-mytnc.device
